
<div class="landing-page">
  
  <div class="wrap">
  <section class="form-builder">
    <form (ngSubmit)="submitForm()" *ngIf="!submitted">
      <h2>Skapa ett nytt formulär</h2>
      
      <!-- Titel -->
      <div class="form-group">
        <div class="sub-titel">
            <label class="Title" for="title">Titel på formulär</label>                    
                <input id="title" [(ngModel)]="title" name="title" required />
          </div>
      </div>

      <!-- Välj frågetyp -->
      <div class="form-group">
        <label>Välj frågetyp:</label>
          <select [(ngModel)]="newQuestionType" (ngModelChange)="setQuestionType($event)" name="questionType">
            <option value="text">Textfråga</option>
            <option value="multiple-choice">Flervalsfråga</option>
          </select>
      </div>

      <!-- Input field for new TEXT question -->
      <div class="form-group" *ngIf="newQuestionType === 'text'">
        <div class="sub-titel">
            <label>Frågetext</label>
              <input [(ngModel)]="newTextQuestion" name="newTextQuestion" required />
        </div>
      </div>

      <!-- Multiple Choice Question (if multiple-choice selected) -->
      <div class="form-group" *ngIf="newQuestionType === 'multiple-choice'">
        <div class="sub-titel">
            <label>Frågetext</label>
            <input [(ngModel)]="newMCQuestion" name="newMCQuestion" required />
        </div>
        
        <!-- choices -->
        <label class="option-label">Svarsalternativ:</label>
        <div class="option-add">

          <div class="option-grid">
            <!-- Option input fields --> 
            <div *ngFor="let opt of newMCOptions; let i = index" class="option-input-wrap">
              <input
                type="text"
                [(ngModel)]="opt.text"
                [name]="'optionText' + i"
                required
              />
              <input
                class="radio-box"
                type="radio"
                [name]="'correctOption'"
                [value]="i"
                [(ngModel)]="newMCCorrectIndex"
              />
            </div> 
        
            <div class="add-button-wrapper">
              <button type="button" (click)="addOption()" [disabled]="newMCOptions.length >= maxOptions">
                {{ newMCOptions.length >= maxOptions ? ' Max alternativ' : '+ Lägg till svarsalternativ'}}
              </button>
            </div>
          </div>

        </div>

      </div>

        <!-- Add questions to List -->
        <button type="button" (click)="addQuestion()" class="btn-add-question">
           + Lägg till fråga
        </button>

      <div *ngIf="questions.length > 0">
        <h3>Frågor i formuläret:</h3>
        <ul>
          <li *ngFor="let q of questions">{{ q.question }} ({{ q.type === 'text' ? 'Textfråga' : 'Flervalsfråga' }})</li>
        </ul>
        <button type="submit" class="btn-submit">Skapa formulär ✅</button>
      </div>
    </form>

    <div *ngIf="submitted" class="success-message">
      <p> Formuläret är sparat ! </p>
    </div>
  </section>
  </div>
</div>
