* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100%;
  width: 100%;
}

.section-title-logo {
  font-size: large;
  color: #fff;
}

.nav {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #111;
  position: relative;
  height: 70px;
  width: 100%;
}

.nav ul {
  display: flex;
  gap: 30px;
  text-align: center;
}

.nav ul li {
  list-style: none;
}

.nav ul li a {
  text-decoration: none;
  color: #fff;
}

.nav ul li a:hover,
.nav ul li a.active {
  color: #ffb600;
}

header {
  position: relative;
}

.toogle-btn {
  cursor: pointer;
  color: #fff;
  display: none; /* Hidden by default, shown in mobile */
}

/* Responsive */
@media (max-width: 600px) {
  .nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background: #111;
    padding: 14px 2%;
    z-index: 1000;
    text-align: left;
    gap: 0;
    transition: 0.2s;
  }

  .nav ul.show {
    display: flex;
  }

  .nav ul li {
    padding: 20px;
  }

  .toogle-btn {
    display: block;
  }

  .nav ul li a:hover,
  .nav ul li a.active {
    color: #ffb600;
  }
}