<div class="formviewer-page">
  
  <div class="wrap">
    <section *ngIf="form; else noForm">
      <div class="section-formviewer">
        <h2 class="form-title">{{ form.title }}</h2>

      <div class="form-group">

          <div *ngIf="!isSubmitted(); else thankYou">
          <div *ngIf="!answered; else showAnsweredMessage">

            <form (ngSubmit)="onSubmit()">

              <!-- Text questions -->
              <div class="form-section">
              <h3>Textfrågor</h3>
                <div *ngFor="let q of textQuestions" class="question-block">

                  <label class="question-label">
                    {{ q.question }} <span *ngIf="q.required">*</span>
                  </label>
                    <input
                      type="text"
                      [(ngModel)]="answers[q.question]"
                      name="{{ q.question }}"
                      required
                    />
                </div>
              </div>

              <hr class="section-divider" />

              <!-- Multiple choice questions -->
              <div class="form-section">
                <h3>Flervalsfrågor</h3>
                  <div *ngFor="let q of multipleChoiceQuestions" class="question-block">

                      <label class="question-label bold-label">
                        {{ q.question }} <span *ngIf="q.required">*</span>
                      </label>

                      <div class="grid-choice">
                        <div *ngFor="let opt of q.options">
                          <input
                            type="text"
                            [value]="opt"
                            disabled
                          />
                          <input
                            class="radio-box"
                            type="radio"
                            [(ngModel)]="answers[q.question]"
                            name="{{ q.question }}"
                            [value]="opt"
                            required
                          /> 
                      </div>
                      </div>
                  </div>
                </div>

                <button class="submit-button" type="submit">Skicka svar</button>
              </form>

          </div>
          </div>

          <ng-template #showAnsweredMessage>
            <div class="success-message">
              <p>Formuläret är skickat!</p>
            </div>
          </ng-template>

      </div>
      </div>

      <ng-template #thankYou>
        <p>Formuläret har redan besvarats!</p>
        <button (click)="resetForm()"> Återställ formuläret</button>
      </ng-template>

    </section>

    <ng-template #noForm>
      <p *ngIf="!resetDone">Obs: Inget formulär är tillgängligt</p>
      <p *ngIf="resetDone">Formuläret har återställts! ✅ </p>
    </ng-template>

  </div>
</div>
